<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		 <meta charset="UTF-8">
		 <title>Discografica</title>
		<style>
        table {
            width: 100%;
            border-collapse: collapse; /* Combina los bordes de las celdas */
        }

        th, td {
            border: 1px solid black; /* Define un borde de 1px de grosor y color negro */
            padding: 8px; /* Espaciado dentro de las celdas */
            text-align: left; /* Alineación del texto */
        }

        th {
            background-color: #f2f2f2; /* Fondo gris claro para las celdas de encabezado */
        }
    </style>
	</head>
	<body>
		<table>
		       <thead>
		           <tr>
		               <th>Titulo</th>
		               <th>Duracion</th>
						<th>Nombre Album</th>
		           </tr>
		       </thead>
		       <tbody>
		           <tr th:each="cancion : ${canciones}">
		               <td th:text="${cancion.titulo != null ? cancion.titulo : 'null'}">Titulo de la cancion</td>
		               <td th:text="${cancion.duracion}">000</td>
						<td th:text="${cancion.album != null ? cancion.album.nombre : 'null'}">Nombre disco</td>
		           </tr>
		       </tbody>
		   </table>
	</body>
</html>
